# idris
build
# vscode
.vscode
# grin
.output
# testing
test.idr
test.grin
# haskell/stack
grinIdris2/.stack-work/
grinIdris2/*~
stack.yaml.lock
# inigo
.inigo-work
Inigo.ipkg
# sirdi
.build
depends
idris2Grin.ipkg
# cargo
support/target
# support
*.so
# talk
community-talk/?*/*
community-talk/*.out
